---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

import { getCollection } from "astro:content";
const notes = await getCollection("notes");

const noteMap = new Map(notes.map((note) => [note.id, note]));

const pbsrNote = noteMap.get("pbsr");
const dogNote = noteMap.get("difference_of_gaussians");
const balanceNote = noteMap.get("balance_and_equanimity");
const fastaiNote = noteMap.get("fast_ai-chapter_9");
const stepsToSketchAGraphNote = noteMap.get("steps_to_sketch_a_graph");
const dbmsNote = noteMap.get("dbms");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>🧑‍🚀 Notes!</h1>
      <ol>
        <li>
          Pre-Deep Learning Computer Vision Notes: <a
            href="/html/CV_Week-1.html">Week-1</a
          >, <a href="/html/CV_Week-2.html">Week-2</a>, <a
            href="/html/CV_Week-3.html">Week-3</a
          >
        </li>

        <li>
          Lyophilization <a href="/html/lyophilization.html">Notes</a>
        </li>
        <li>
          Profound Sentences on the Concept of <a href="/html/kitsch.html"
            ><em>Kitsch</em></a
          >
        </li>
        <li>
          <a href="/html/josephus.html">Josephus Problem</a> using <em>Rust</em>
          on
          <strong>WASM</strong> and <code>Raw SVG</code>
        </li>
        <li>
          An incomplete list of non-academic physical books, I own - <a
            href="/html/book_shelf.html">Here</a
          >
        </li>
        <li>
          <a href="pdf/MFGAI.pdf">Notes</a> on Mathematical Foundations of Generative
          AI
        </li>
        {
          pbsrNote && (
            <li>
              Notes on Probability and Statistics -{" "}
              <a href={`/notes/${pbsrNote.id}`}>Here</a>
            </li>
          )
        }
        {
          dogNote && (
            <li>
              Gaussian Blur as a Socialist Government - An Intuition for{" "}
              <a href={`/notes/${dogNote.id}`}>{"Difference of Gaussians"}</a>
            </li>
          )
        }
        {
          balanceNote && (
            <li>
              Balance and Equanimity -{" "}
              <a href={`/notes/${balanceNote.id}`}>{"Self-Talk"}</a>
            </li>
          )
        }
        {
          fastaiNote && (
            <li>
              Notes on Fast.ai - Chapter 9 :{" "}
              <a href={`/notes/${fastaiNote.id}`}>{"Tabular"}</a>
            </li>
          )
        }
        {
          stepsToSketchAGraphNote && (
            <li>
              Steps to Sketch a{" "}
              <a href={`/notes/${stepsToSketchAGraphNote.id}`}>{"Graph"}</a>
            </li>
          )
        }
        {
          dbmsNote && (
            <li>
              Database Management Systems -{" "}
              <a href={`/notes/${dbmsNote.id}`}>{"DBMS"}</a>
            </li>
          )
        }
      </ol>
    </main>
  </body>
</html>
